<% content_for :title, "Enrollments" %>

<h1>Enrollments</h1>

<div id="enrollments">
  <% @enrollments.each do |enrollment| %>
    <%= render enrollment %>
    <p>
      <%= link_to "Show this enrollment", enrollment %>
    </p>
  <% end %>
</div>

<p>To enroll a student, visit the course page and click “Enroll a new student.”</p>
<p>
  <%= link_to "Back to courses", courses_path %>

